<nav class="navbar sticky-top bg-info text-white">
    <div class="container">
      <a class="navbar-brand">
        Flickr Photo Search
      </a>
      <form class="form-inline">
        <!-- <input [formControl]="inputQuery"  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <!-- <button (click)="searchQuery()" class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button> -->
        <input type="search" class="form-control" (keyup)="search($event)" placeholder="Search photos" />
      </form>
    </div>
  </nav>
  
  <div class="container mt-5 mb-0">
    <!-- <div class="d-flex">
      <p class="mb-0">Results for <i>"{{ inputResult }}"</i></p>
      <p class="ml-auto mb-0 text-info">{{ totalResults | number }}</p>
    </div> -->
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 p-3" *ngFor="let image of images">
        <div class="card">
          <a data-toggle="modal" data-target="#selectedModal" (click)="imageInfo(image.id, image.url)">
            <img class="image" src="{{image.url}}_m.jpg" title={{image.title}} />
          </a>
        </div>
      </div>
    </div>
    <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    </div>
  </div>
    <div class="modal fade show" id="selectedModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body" *ngIf="selectedImg != null">
          <img class="image_modal hoverable" src="{{selectedUrl}}_b.jpg" alt="Card image">
          <div class="row">
            <div class="col-sm">
              <h5>{{ selectedImg.title._content }}</h5>
              <p>by {{ selectedImg.owner.username }}</p>
            </div>
            <div class="col-sm-3">
              <p><b>{{ selectedImg.dates.taken |  date:'MMMM d, y' }}</b></p>
              <p><small>Taken</small></p>
            </div>
            <div class="col-sm-3">
              <p><b>{{ selectedImg.views | number}}</b></p>
              <p>Views</p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>